.nav-bar {
  height: 75px;
  width: 100%;
  background-color: gray;
  color: white;
  font-family: "verdana";
  display: flex;
  align-items: center;
  justify-content: center; }

.nav-components {
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap; }

.nav-component {
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%; }

.filter {
  width: 100%;
  height: 70px;
  background-color: #ededed;
  z-index: 99;
  justify-content: center;
  font-family: "verdana"; }

.filter-components {
  display: flex;
  justify-content: center;
  align-items: center; }

.filter-component {
  flex-direction: row; }

.tag-icons {
  list-style: none; }

.icon {
  height: 40px;
  width: 40px; }

.tag-icon {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap; }

.drop-down {
  height: 80px;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%; }

.down-arrow {
  border: none;
  background: transparent; }

.hidden {
  display: none; }

.post {
  height: 175px;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "verdana"; }

.profile-img-placeholder {
  height: 90px;
  width: 90px; }

.create-post {
  border: none;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 10px;
  right: 10px; }

.tl-hike-info > h1, p {
  margin-top: 25px;
  margin-bottom: 25px; }

.create-blog-form {
  height: 100%;
  text-align: center;
  font-family: "Verdana"; }

label {
  display: block; }

input, textarea {
  margin-top: 10px;
  margin-bottom: 40px;
  width: 80%;
  height: 4em; }

.call-to-edit {
  font-family: "Verdana";
  height: 1.5em;
  margin: 20px; }

.profile-header {
  display: flex;
  font-family: "Verdana";
  height: 150px;
  background-color: white;
  align-items: center;
  justify-content: center; }

.profile-user-photo {
  flex-direction: row; }

.profile-user-info {
  flex-direction: row;
  text-align: left;
  padding: 3%; }

.profile-img {
  height: 150px;
  width: 150px; }

.flex-container {
  background-color: #ededed;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; }

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-item {
  background: white;
  width: 100px;
  height: 100px;
  margin: auto;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin: 2px; }

.profile-posts {
  display: flex;
  align-items: center;
  justify-content: center; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  text-align: center; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.nav {
  height: 100px;
  width: 100%;
  background-color: gray; }

.third {
  flex-direction: row;
  width: 33.3%; }

.half {
  width: 50%; }

/*# sourceMappingURL=main.css.map */
