<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel='stylesheet' href='../css/main.css' />
    <link rel='stylesheet' href='../css/timeline.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src='../js/client.js'></script>
    <script src='../js/timeline.js'></script>
  </head>
  <body>
    <nav class='nav-bar'>
      <div class='nav-component'><a href='./timeline.html'>Home</a></div>
      <div class='nav-component'><h1>Timeline</h1></div>
      <div class='nav-component'><a href='./editor.html'>Add Post</a></div>
      <div class='nav-component'><a href='./profile.html'>Profile</a></div>
    </nav>
    <div id='filter-bar' class='filter'>
      <div class='filter-components'>
        <p class='filter-component'>Filter by category</p>
        <button class='down-arrow filter-component'>
          <img src='../public/down_arrow.png' class='icon' />
        </button>
      </div>
      <div id='filter-drop-down' class='drop-down'>
        <div class='tag-icon'><img src='../public/gem.png' class='icon'/></div>
        <div class='tag-icon'><img src='../public/gem.png' class='icon'/></div>
        <div class='tag-icon'><img src='../public/gem.png' class='icon'/></div>
        <div class='tag-icon'><img src='../public/gem.png' class='icon'/></div>
        <div class='tag-icon'><img src='../public/gem.png' class='icon'/></div>
        <div class='tag-icon'><img src='../public/gem.png' class='icon'/></div>
      </div>
    </div>
    <div class='time-line'>
      <article class='post'>
        <div class='tl-user-info third'>
          <img class='profile-img-placeholder' src='../public/profile.png' />
          <p>User Name</p>
        </div>
        <div class='tl-hike-info third'>
          <h1 class='tl-hike-name'>Hike Name</h1>
          <p>Location</p>
        </div>
        <div class='tl-tag third'>
          <img src='../public/gem.png' class='icon'/>
        </div>
      </article>
      <article class='post'>
        <div class='tl-user-info third'>
          <img class='profile-img-placeholder' src='../public/profile.png' />
          <p>User Name</p>
        </div>
        <div class='tl-hike-info third'>
          <h1 class='tl-hike-name'>Hike Name</h1>
          <p>Location</p>
        </div>
        <div class='tl-tag third'>
          <img src='../public/gem.png' class='icon'/>
        </div>
      </article>
      <article class='post'>
        <div class='tl-user-info third'>
          <img class='profile-img-placeholder' src='../public/profile.png' />
          <p>User Name</p>
        </div>
        <div class='tl-hike-info third'>
          <h1 class='tl-hike-name'>Hike Name</h1>
          <p>Location</p>
        </div>
        <div class='tl-tag third'>
          <img src='../public/gem.png' class='icon'/>
        </div>
      </article>
    </div>
    <footer class='app-footer'>
      <p>Copyright, Mountain Rangers 2015. All rights reserved.</p>
    </footer>
  </body>
</html>
